<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />  
	<title>Generalscan</title>
	<link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> 
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
	<script src="js/index.js"></script>
	<script src="js/drop.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	
</head>
<body>
	<header>
		<div class="top-wrap">
			<div class="top">
				<div class="logo"><a href="index.html"><img src="image/logom.png" alt="" width="200" height="21"></a></div>
				<div class="top-right">
					<div class="login"><span style="position: absolute; margin-left: -60px;" ><a href="admin/index.html">Login</a></span></div>
					<div class="lang">
						<img src="image/language_en.png" alt="" width="32" height="24"><i></i><!--
				   --></div>
					<span id="menu"><i></i><i></i><i></i></span>
				</div>
			</div>
			<div class="search-box">
				<div class="search">
					<input type="text" placeholder="Search" />
				</div>
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</div>
		</div>
		
		<div class="nav">
			<ul>
				<li class="outer exp"><a href="javascript:void(0)">Products</a><i></i><!--
					--><ul class="inner">
						<li><a href=#>Companion</a></li>
						<li><a href=#>Scanbuddy</a></li>
						<li><a href=#>Armband</a></li>
						<li><a href=#>Ring</a></li>
						<li><a href=#>Sled</a></li>
						<li><a href=#>Printer</a></li>
						<li><a href=#>Accessory</a></li>
					</ul>
				</li>
				<li class="outer exp"><a href="javascript:void(0)">Partner</a><i></i><!--
					--><ul class="inner">
						<li><a href=#>Partner Program</a></li>
						<li><a href=#>Find Local Partner</a></li>
						<li><a href=#>Become Partner</a></li>
					</ul>
				</li>
				<li class="outer exp"><a href="javascript:void(0)">Resources</a><i></i><!--
					--><ul class="inner">
						<li><a href=#>Lorem ipsum dolor.</a></li>
						<li><a href=#>Lorem ipsum.</a></li>
						<li><a href=#>Lorem ipsum dolor sit amet.</a></li>
						<li><a href=#>Lorem ipsum.</a></li>
						<li><a href=#>Lorem ipsum dolor sit.</a></li>
					</ul>
				</li>
				<li class="outer"><a href="javascript:void(0)">Blog</a></li>
				<li class="outer exp"><a href="javascript:void(0)">Company</a><i></i><!--
					--><ul class="inner">
						<li><a href=#>About Us</a></li>
						<li><a href=#>Contact Us</a></li>
						<li><a href=#>Lorem ipsum dolor.</a></li>
						<li><a href=#>Lorem ipsum.</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</header>
	
	<div id="container">
		<div class="banner">
			<ul class="list">
				<li><img src="http://img.mukewang.com/54111cd9000174cd04900170.jpg" alt="" /></li>
				<li><img src="http://img.mukewang.com/54111dac000118af04900170.jpg" alt="" /></li>
                <li><img src="http://img.mukewang.com/54111d9c0001998204900170.jpg" alt="" /></li>
                <li><img src="http://img.mukewang.com/54111d8a0001f41704900170.jpg" alt="" /></li>
                <li><img src="http://img.mukewang.com/54111d7d00018ba604900170.jpg" alt="" /></li>
			</ul>
			<div class="dot"><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i></div>
		</div>
		
		<div class='info'>
			<div class="item">
				<img src="" alt="">
				<div class="detail">
					<h3>Lorem ipsum.</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi.</p>
					<p><a href="#">>>Learn More</a></p>
				</div>
			</div>
			<div class="item">
				<img src="" alt="">
				<div class="detail">
					<h3>Lorem ipsum.</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam.</p>
					<p><a href="#">>>Learn More</a></p>
				</div>
			</div>
			<div class="item">
				<img src="" alt="">
				<div class="detail">
					<h3>Lorem ipsum.</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui.</p>
					<p><a href="#">>>Learn More</a></p>
				</div>
			</div>
		</div>
		
		<div class="showcase">
			<figure>
				<img src="image/figure/companion.png" alt="">
				<figcaption>
					<h3><span></span></h3>
					<p></p>
				</figcaption>
			</figure>
			<figure>
				<img src="image/figure/ring.png" alt="">
				<figcaption>
					<h3></h3>
					<p></p>
				</figcaption>
			</figure>
			<figure>
				<img src="image/figure/scanbuddy.png" alt="">
				<figcaption>
					<h3></h3>
					<p></p>
				</figcaption>
			</figure>
			<figure>
				<img src="image/figure/sled.png" alt="">
				<figcaption>
					<h3></h3>
					<p></p>
				</figcaption>
			</figure>
		</div>
		
		<!--<div class="choose">
			<div class="c1">
				<h3>Who Chooses Generalscan?</h3>
				<p>All of the world's leading manufacturers.</p>
			</div>
			<div class="serve">
				<h1>Lorem ipsum dolor.</h1>
				<div class="part">
					<div class="round"><a href="#">Medical Device Manufacturers ></a></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad odit quasi asperiores!</p>
					<span><a href="#">CASE STUDY</a></span>
				</div>
				<div class="part">
					<div class="round"><a href="#">Medical Device Manufacturers ></a></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nam omnis quidem hic minus temporibus.</p>
					<span><a href="#">CASE STUDY</a></span>
				</div>
				<div class="part">
					<div class="round"><a href="#">Medical Device Manufacturers ></a></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, debitis!</p>
					<span><a href="#">CASE STUDY</a></span>
				</div>
				<div class="part">
					<div class="round"><a href="#">Medical Device Manufacturers ></a></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, consequuntur tenetur eligendi.</p>
					<span><a href="#">CASE STUDY</a></span>
				</div>
				<div class="part">
					<div class="round"><a href="#">Medical Device Manufacturers ></a></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum.</p>
					<span><a href="#">CASE STUDY</a></span>
				</div>
				<div class="part">
					<div class="round"><a href="#">Medical Device Manufacturers ></a></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ullam voluptatibus ab.</p>
					<span><a href="#">CASE STUDY</a></span>
				</div>
			</div>
		</div>
		-->
		
		<article id= 'customer'><img src="" alt=""></article>
		
		<div class="company">
			<img src="" alt="">
			<div class="com-text">
				<h1></h1>
				<p></p>
				<span><a href="/company">Read More</a></span>
			</div>
		</div>
		
		<div class="news">
			<div class="part">
				<h1></h1>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li><a href="#"></a></li>
				</ul>
			</div>
			<div class="part">
				<h1></h1>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li><a href="#"></a></li>
				</ul>
			</div>
			<div class="part">
				<h1></h1>
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li><a href="#"></a></li>
				</ul>
			</div>
		</div>
		
		<!--<footer>
			<div class="footer-wrap">
				<div class="column">
					<p>Generalscan Electronics Co.; Ltd</p>
					<p><span>Room A608, 6 Floor, Building 3,</span><br />
					   <span>Yadi Science Park, Hetai Road</span></p>
					<p>Baiyun District, Guangzhou, China.510425</p>
					
				</div>
				<div class="c4 column">
					<p><a href="">Contact Us</a></p>
					<p>+86-817-3393130</p>
					<ul>
						<li><a href="" title="facebook"><i class="fa fa-facebook  "></i></a></li>
						<li><a href="" title="twitter"><i class="fa fa-twitter  "></i></a></li>
						<li><a href="" title="google"><i class="fa fa-google  "></i></a></li>
						<li><a href="" title="linkedin"><i class="fa fa-linkedin  "></i></a></li>
					</ul>
				</div>
			</div>
		</footer>-->
		
	</div>
	<footer class="footer">
			<div class="footer-wrap">
				<div class="footer-top">
					<dl class="column col">
						<dt>Product<i>+</i></dt>
						<dd><a>Companion</a></dd>
						<dd><a>Ring</a></dd>
						<dd><a>Sled</a></dd>
						<dd><a>Scanbuddy</a></dd>
						<dd><a>Armband</a></dd>
					</dl>
								   
					<dl class="column col">
						<dt>Partner<i>+</i></dt>
						<dd><a>Partner Program</a></dd>
						<dd><a>Find Local Partner</a></dd>
						<dd><a>Become Partner</a></dd>
					</dl>
					
					<div class="c4 col">
						<p>Contact Us</p>
						<p>+86-817-3393130</p>
						<ul>
							<li><a href="" title="facebook"><i class="fa fa-facebook  "></i></a></li>
							<li><a href="" title="twitter"><i class="fa fa-twitter  "></i></a></li>
							<li><a href="" title="google"><i class="fa fa-google  "></i></a></li>
							<li><a href="" title="linkedin"><i class="fa fa-linkedin  "></i></a></li>
						</ul>
					</div>
				</div>
			   
				<dl class="footer-bottom column">
					<dt>Generalscan Electronics Co.; Ltd<i>+</i></dt>
					<dd>Room A608, 6 Floor, Building 3, <br />Yadi Science Park, Hetai Road</dd>
					<dd>Baiyun District, Guangzhou, China.510425</dd>
				</dl>
			</div>
			<div class="bottom"><span>Copyright @2017 Generalscan Inc. All rights reserved </span></div>
		</footer>
	<script type="text/javascript">
	
		<!-- var breakpoint = 641, -->
		  <!-- viewportWidth = window.innerWidth; -->
		<!-- if (viewportWidth < breakpoint) { -->
			<!-- $('.column dt').on('click',click); -->
		<!-- } else { -->
			<!-- $('.column dt').off('click'); -->
		<!-- } -->
		
			<!-- function click() { -->
				<!-- $(this).toggleClass('active').siblings().slideToggle(); -->
			<!-- } -->
	  
	  <!-- $(window).resize(function(){ -->
		<!-- if (this.innerWidth > breakpoint) { -->
			<!-- $('.column dd').show();  -->
	  <!-- }) -->
		
		
	</script>
</body>
</html>